# .env.example
EMAILJS_SERVICE_ID=service_by7fdu4
EMAILJS_TEMPLATE_ID=template_ffd65d9
EMAILJS_PUBLIC_KEY=QUbnYuw4XmmEIss2e
EMAILJS_PRIVATE_KEY=DeXuO8Sm_Ub99rhmAvA2M
BREVO_API_KEY=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
